
img {
    width:250px;
}

#banner {
    width: 250px;
}

body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: auto;
    margin: 0;

    background-color: #292a30;
    color: #ffe4c4;
}

/*
h1 {
    text-align: ;
}
*/
