
img {
    width:250px;
}

body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(41, 42, 48);
    color: rgb(255, 228, 196);
}

/*
h1 {
    text-align: ;
}
*/
